
<ion-header>
  <ion-toolbar>
    <ion-title class = "centrar">Libros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <img src="../../assets/Libros.jpg">
  <ion-list>
    <ion-item>
      <ion-avatar slot = "start">
        <img src="../../assets/DiarioZombie.jpg"> </ion-avatar>
      <ion-label>El diario de un zombie</ion-label>
  </ion-item>
  <ion-item>
  <ion-avatar slot = "start">
        <img src="../../assets/SombraDelAmor.jpg"> </ion-avatar>
    <ion-label>La alargada sombra del amor</ion-label>
   </ion-item>
  <ion-item>
  <ion-avatar slot = "start">
        <img src="../../assets/DorianGray.jpg"> </ion-avatar>
    <ion-label>El retrato de Dorian Gray</ion-label>
  </ion-item>
  <ion-item>
  <ion-avatar slot = "start">
        <img src="../../assets/MorirNoEsTanFacil.jpg"> </ion-avatar>
    <ion-label> Morir no es tan fácil</ion-label>
  </ion-item>
</ion-list>
</ion-content>


<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="libros">
      <ion-icon name="book"></ion-icon>
      <ion-label>Libros</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="autores">
      <ion-icon name="people"></ion-icon>
      <ion-label>Autores</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="reservar">
      <ion-icon name="create"></ion-icon>
      <ion-label>Reservar</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>


